<div class="container">

  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/edit-animal', animal._id]" class="btn btn-success">EDIT</a>
      <button class="btn btn-danger" type="button" (click)="deleteAnimal(animal._id)">DELETE</button>
    </div>
  </div>

  <h1>{{ animal.title }}</h1>
  <img class="card-img-top" src="{{animal.Image}}" style="max-height: 250px; width: auto;" alt="{{animal.title}}">
  <dl class="list">
    <dt>Price</dt>
    <dd>{{ animal.Price }}</dd>
    <dt>Categorie</dt>
    <dd>{{ animal.Categorie }}</dd>
    <dt>weight</dt>
    <dd>{{ animal.Weight }}</dd>
    <dt>Date de creation</dt>
    <dd>{{ animal.Created }}</dd>
    <dt>AGE</dt>
    <dd>{{ animal.Age }}</dd>
  </dl>
</div>
